<div class="my-component">
    This Blazor component is defined in the <strong>AG.LoggerViewer.UI</strong> package.
    <br>
    @MyName
</div>


@code
{
    [Parameter]
    public string MyName { get; set; }
}