<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AG.LoggerViewer</title>
    <link rel="stylesheet" href="_content/AG.LoggerViewer.UI/lib/mdb/css/mdb.min.css"/>
    <link rel="stylesheet" href="_content/AG.LoggerViewer.UI/styles.css"/>
    <link rel="stylesheet" href="_content/AG.LoggerViewer.UI/lib/fontawesome/css/all.css"/>
</head>
<body>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>



<script src="_content/AG.LoggerViewer.UI/lib/mdb/js/mdb.min.js"></script>
</body>
</html>