<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AG.LoggerViewer</title>
    <link rel="stylesheet" href="_content/AG.LoggerViewer.UI/lib/mdb/css/mdb.min.css" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="_content/AG.LoggerViewer.UI/lib/mdb/js/mdb.min.js"></script>
</body>
</html>